<!DOCTYPE html>
<style>
    form {
        margin: auto;
        width: 35%;
    }
    .result{
        margin: auto;
        width: 35%;
        border: 1px solid #ccc
    }
</style>

<head>
    <title>
        Прогнозирование ширины и длины сварного шва
    </title>
</head>

<form action="{{url_for('main')}}" method="POST">
    <fieldset>
        <legend>
            Введите значения
        </legend>
        IW<input name="IW" type="number" placeholder="1.0" step="0.01"
        required>
        <br>
        IF <input name="IF" type="number" placeholder="1.0" step="0.01"
        required>
        <br>
        VW <input name="VW" type="number" placeholder="1.0" step="0.01"
        required>
        <br>
        FP<input name="FP" type="number" placeholder="1.0" step="0.01"
        required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>

<div class="result" align="center">
    {% if result_depth %}
        <br>
        <p style="font-size:50px">
        Прогноз Depth:
        </p>
        <p style="font-size:50px">{{result_depth}}</p>
    {% endif %}
    
    {% if result_width %}
        <br>
        <p style="font-size:50px">
    <p style="font-size:50px">
        Прогноз Width:
            </p>
            <p style="font-size:50px">{{result_width}}</p>
    {% endif %}
</div>